@{
    ViewBag.Title = "MARS Cloth";
}

<div class="jumbotron">
    <h1><span class="brand-name">Legend</span><span class="secondary-font">Wear</span></h1>
    <p class="lead">Epic Import Designs since 2015</p>
    <div class="main-img"></div>
    <p><a href="#" class="btn btn-lg btn-custom">create your outfit today &raquo;</a></p>
</div>

